<h1>Edit New Prodcut</h1>
<table>
  <%= form_for @product do |product|%>
    <tr>
      <td><span>Product Number</span></td>
      <td><%= product.text_field :product_number%></td>     
    </tr>
    <tr>
      <td>Product Name</td>
      <td><%= product.text_field :product_name%></td>
    </tr>
    <tr>
      <td>Product_price</td>
      <td><%= product.text_field :product_price%></td>
    </tr>
    <tr>  
      <td>Product Remark</td>
      <td><%= product.text_area :product_remark%></td>
    </tr>
        <%= product.submit :submit%>
        <%= button_tag "Reset", type: :reset %>
    <%end%>
        <%= link_to "Back" , product_sheets_path , method: "get" %>
</table>
